{{ define "main" }}
<main>

  <ul>
    {{ range (where .Site.RegularPages "Type" "in" (slice "posts")).GroupByDate
    "2006" }}
    <h2>{{ .Key }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <span class="date"
          >{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006"
          ) }}</span
        >
        <a
          class="title"
          href="{{ .Params.externalLink | default .RelPermalink }}"
          >{{ .Title }}</a
        >
      </li>
      {{- end -}}
    </ul>
    {{ end }}
  </ul>
</main>
{{ end }}
