<header>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
  {{ template "_internal/opengraph.html" . }}
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
	== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
			<a href="/"><b>Home</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
